html,head,body {
  padding: 0;
  margin: 0;
}

body {
  font-family: calibri, helvetica, arial, sans-serif;
}

#playing-area {
  display: grid;
  margin-top: 50px;
}

.grid-15 {
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  width: 750px;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
}

.grid-30 {
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  width: 750px;
  height: 750px;
  margin-left: 240px;
}

.grid-45 {
  grid-template-rows: repeat(45, 1fr);
  grid-template-columns: repeat(45, 1fr);
  width: 750px;
  height: 750px;
  margin-left: 190px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: red;
  display: block;
  margin: auto;
  margin-top: 300px;
  padding: 25px;
}

.button:hover {
  background-color: red; /* Green */
  color: white;
}

#speed {
  margin-top: 25px;
}

.cell {
  background-color: black;
  border: 5px solid white;
  min-width: 20px;
  min-height: 20px;
  max-width: 30px;
  max-height: 30px;
}

.flag {
  background-color: green;
}

.one {
  background-color: purple;
}

.two {
  background-color: #002099;
}

.three {
  background-color: #0030FF;
}

.four {
  background-color: #004FF0;
}

.five {
  background-color: #00FFa5;
}

.six {
  background-color: #00ab36;
}

.seven {
  background-color: #de2007;
}

.eight {
  background-color: #0ef208;
}

.revealed {
  background-color: white;
}

.mine {
  background-color: red;
}

#waiting {
  border: 5px solid red;
  margin: 100px 300px;
  text-align: center;
  font-size: xx-large;
  padding: 10px;
}
